#main {
    font-size: 19px;
}
#clearDataFromHeading {
    padding: 3px;
}
#disclaimer {
    font-size: 16px;
}
#main-cancel {
    height: 145px;
    width: 385px;
}
html {
	-webkit-user-select: none;
}